<header class="fixed">
  <nav>
    <div class="logo">E-G Trekker</div>
    <ul>
      <li><a href="/services">Services</a></li><li><a href="/portfolio">Work</a></li>
      <li><a class="active" href="/#/posts">Blog</a></li>
      <li class="contact-trigger"><button class="btn btn-primary">Contact</button></li>
    </ul>
    <div class="collapse">
      <i class="open"></i><i class="close"></i>
    </div>
  </nav>
</header>
