<header class="fixed">
  <div class="logo short">
    <a href="/">
      <div aria-label="Signet" class="signet"></div>
      <div aria-label="Others" class="others">
        <div aria-label="Name dark" class="name dark"></div>
        <div aria-label="Claim dark" class="claim dark"></div>
      </div>
      <div aria-label="Location" class="location">
        <div aria-label="Content" class="content">  </div>
      </div>
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="/services">Services</a></li><li><a href="/portfolio">Work</a></li>
      <li><a href="/playbook">Playbook</a></li><li><a href="/courses">Courses</a></li>
      <li><a class="active" href="/#/posts">Blog</a></li>
      <li><a href="/pricing">Pricing</a></li>
      <li class="contact-trigger"><button class="btn btn-primary">Contact</button></li>
    </ul>
    <div class="collapse">
      <i class="open"></i><i class="close"></i>
    </div>
  </nav>
</header>
