<header class="fixed">
  <nav class="navbar-fixed-top navbar-default">
    <div class="container-fluid fixed-top">
      <div class="navbar-header">
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Works</a></li>
          <li><a href="/#/posts">Blog</a></li>
          <li><a href="/#/login">Sign in/Register</a></li>
          <li><a href="#aboutme">About</a></li>
        </ul>
      </div>
    </div>
  </nav><!-- /.navbar -->
</header>
