<header class="fixed">
  <nav>
    <a href='/' class="logo">E-G Trekker</a>
    <ul>
      <li><a href="/">Services</a></li>
      <li><a href="/">Work</a></li>
      <li><a class="active" href="/#/posts">Blog</a></li>
      <li class="contact-trigger"><button class="btn btn-primary">Contact</button></li>
    </ul>
    <div class="collapse">
      <i class="open"></i><i class="close"></i>
    </div>
  </nav>
</header>
