@import 'bootstrap';
@import 'font-awesome';
@import 'homepage';

body {
  font-family: Graphik Web,Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;
  color: rgb(36, 28, 21);
}
.overlay {
  position: fixed;
  overflow: auto;
  text-align: center;
  top: 0px;
  height: 100%;
  right: 0;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  z-index: 5;
  background-color: rgba(255,255,255,.97);
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  .close-btn {
    width: 100%;
    padding-right: px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  .login-form, .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 20vw;
    padding-right: 20vw;
  }
}
.triangle {
  width: 0px;
  cursor: pointer;
  height: 0px;
  border-top: 40px solid transparent;
  border-left: 80px solid lightsteelblue;
  border-bottom: 40px solid transparent;
}
#main {
  float: left;
  padding-right: 30px;
}
.closeLogin {
  min-width: 25px;
}
.white-bg {
  background: #fff;
}
.post-overlay {
  z-index: 5;
  margin-left: 10vw;
  margin-right: 10vw;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.users-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.users-one-four {
  width: 200px;
}

.relative-search {
  display: flex;
  flex-direction: row;
  padding: 5px;
  .search-box {
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #232323;
  }
  .s-icon {
    padding: 4px;
  }
}

#app {
  margin-top: 80px;
  margin-bottom: 80px;
}
 #myMap {
    height: 400px;
    width: 1000px;
  }
.sp_sidebar {
  overflow: hidden;
}
.logo {
  position: fixed;
  top:0;
}

.fixed {
  z-index: 5;
  background: #fff;
  top: 0px;
  width: 100%;
}
.text-title {
  text-transform: capitalize;
}

a {
  color: #17acc5;
}
a:hover {
  text-decoration: none;
}
.post-category {
  color: #8e6f14!important;
  text-decoration-style: solid;
  font-size: 1.1rem;
}
.sm-column-lo {
  display: flex;
  justify-content: flex-end;
}
.menu-right {
  display: flex;
  justify-content: space-between;
  li {
    min-width: 70px;
  }
}

.burger-menu-wrapper {
  display: flex;
  flex-flow: column nowrap;
  &.expanded-menu {
    display: none;
  }
}

.burger-menu-item {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

nav .nav {
  flex-direction: row;
  justify-content: flex-end;
  ul {
    width: 40%;
    li {
      width: 70px;
    }
  }
}
.btn {
  -webkit-box-shadow: 0 0 0 0.0625rem rgba(36,28,21,.4) inset;
  box-shadow: inset 0 0 0 0.0625rem rgba(36,28,21,.4);
  color: #241c15;
  min-width: 7.5rem;
  padding: .8125rem;
  background-color: #ffffff;
}
.btn:hover {
  background-color: #ffffff;
  color: #000;
}
.navbar-header {
  float: left;
}


ul {
  list-style: none;
}
header nav ul {
  float: right;
}
header nav ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
    width: auto;
    font-size: 20px;
}
h4 {
  color: #159AD3!important;
  transform: translateY(-.72px);
  font-size: 1.5rem;
  font-family: 'Larsseit', Helvetica, Arial, sans-serif;
}

.app-container {
  margin-left: 10vw;
  margin-right: 10vw;
}
.post-meta {
  color: #111;
}
.sidenav {
  width: 200px;
  .active {
    width: 0;
  }
}
.sidebar-container {
  width: 200px;
  height: 100%;
  .active {
    width: 150px;
  }
}
/* Sidebar */

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 100%;
  overflow-y: hidden;
  background: #2c3e50;
  border: none;
  opacity: 0.9;
  .active {
    width: 150px;
  }
}
/* Main content */

#page-content-wrapper {
  width: 90%;
  position: absolute;
  padding-left: 100px;
  margin-left: 100px;
  padding-left: 50px;
  border: none;
  .expanded {
    margin-left: 150px;
  }
}


/* Sidebar styling */

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.search-icon {
  margin-left: -35px;
  padding: 3px;
}

.post-title {
  z-index: 1;
  letter-spacing: .4px;
  margin: 0 0 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  box-sizing: border-box;
  color: #016992;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
  font-size: 15px;
  font-weight: 600;
  height: 15px;
  margin: 5px 6px 15px 0px;
  text-overflow: ellipsis;
  width: 224px;
  &:hover {
    color: #196ad0;
    font-size: 17px;
    font-weight: 400;
    height: 17px;
  }
}
.post-view {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}
.post-desc {
  max-width: 90%;
  padding-left: 30px;
  padding-right: 30px;
}
.post-item {
  color: #296cb3;
}
.post-item:hover {
  color: #b13478c7;
}
.post-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  flex-wrap: wrap;
  padding-left: 2px;
  padding-right: 10px;
  justify-content: space-between;
  margin-top: 50px;
}
.read-more {
  color: #5a4854;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid #306d55;
  border-bottom: 5px solid #ee2211;

  &:hover {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
  }
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 12px;
  width: 260px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #e1e6d8;
  margin: 4px 4px 16px;
  &:hover{
    background-color: #ecedf1;
    border-color: #442200;
  }
}

.border-wrapper {
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #fff;
  padding: 8px 8px 0px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 5px;
  justify-content: space-between;
  border: solid 1px rgb(234,244,245);
  &:hover{
    background-color: #ffeef1;
    border-color: #442200;
  }
}
.cover-wrapper {
  margin: 10px 0 10px;
  max-height: 190px;
}
.post-short-desc {
  overflow: hidden;
  width: 210px;
  text-overflow: ellipsis;
  height: 60px;
  color: #2d4d5d;
  font-size: 13px;
}
.cover {
    max-height: 160px;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}
.post-paging {
  position: fixed;
  bottom: 0;
  margin-bottom: 1px;
  z-index: 2;
}
.post-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.post-content {
  margin: 10px;
  overflow-x: hidden;
}
.main-menu-sm {
  display: none;
}
@media (max-width: 500px) {
  .toggle-menu-btn-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  .menu-fixed-top .menu-right {
    display: none;
  }

  .sm-column-lo {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .menu-right {
    display: none;
  }
  .main-menu-sm {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
  }
  .burger-menu-wrapper {
    cursor: pointer;
    width: 100%;
    right: 0px;
    display: flex;
    align-items: flex-end;
    .toggle-menu-btn {
      margin-right: 2px;
    }
    .menu-expanded {
      display: none;
      &.active {
        display: flex;
        position: absolute;
        flex-flow: column nowrap;
        background-color: #0e3e4c;
        border-radius: 5px;
        width: 130px;
        cursor: pointer;
        justify-content: flex-end;
        align-items: flex-end;
        a {
          width: 100%;
          cursor: pointer;
          line-height: 25px;
          margin: 5px;
          padding-left: 15px;
        }
        &:hover {
          background-color: whitesmoke;
        }
      }
    }
  }
}

