/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import 'bootstrap';

#main {
  width: 70%;
}
#sidebar {
  width: 28%;
}
.fixed {
  position: fixed;
  z-index: 5;
  background: #fff;
  top: 0px;
  width: 100%;
  height: 65px;
}
.text-title {
  text-transform: capitalize;
}

a:hover {
  text-decoration: none;
}

nav .nav {
  flex-direction: row;
}

.navbar-header {
  float: left;
}
.e-g-logo {
  color: #1eb5a7;
  margin-left: 8vw;
  font-size: 36px;
}
header nav ul {
  float: right;
  list-style: none;
}
header nav ul li {
    float: left;
    line-height: 50px;
    margin: 0 10px;
    width: auto;
    font-size: 20px;
}
h4 {
  color: #159AD3!important;
  transform: translateY(-.72px);
  font-size: 1.7rem;
  font-family: 'Larsseit', Helvetica, Arial, sans-serif;
}
.main {
  margin-top: 107px;
}

.post-meta {
  color: #111;
}
.sidenav {
  width: 200px;
  .active {
    width: 0;
  }
}
.sidebar-container {
  width: 200px;
  height: 100%;
  .active {
    width: 150px;
  }
}
/* Sidebar */

#sidebar-wrapper {
  z-index: 1;
  position: absolute;
  width: 10%;
  height: 100%;
  overflow-y: hidden;
  background: #2c3e50;
  border: none;
  opacity: 0.9;
  .active {
    width: 150px;
  }
}
/* Main content */

#page-content-wrapper {
  width: 90%;
  position: absolute;
  padding-left: 100px;
  margin-left: 100px;
  padding-left: 50px;
  border: none;
  .expanded {
    margin-left: 150px;
  }
}

/* Wrapper */

#wrapper.menuDisplayed #sidebar-wrapper {
  width: 150px;
}

#wrapper.menuDisplayed #page-content-wrapper {
  padding-left: 150px;
}

/* Sidebar styling */

.sidebar-nav {
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #0c3a56;
}

