.main-post-content {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.page-content {
  display: flex;
  flex-flow: column nowrap;
}
.right-sidebar {
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid #323421;
  .list-category-wrapper {
    list-style-type: none;
    margin: 0px;
    padding: 2px;
  }
  li {
    cursor: pointer;
    padding: 10px;
    line-height: 35px;

    margin-right: 20px;
    display: flex;
    align-items: stretch;
    a {
      width: 100%;
      color: rgb(36,28,21);
    }
    a:hover {
      color: #455561;
      font-style: italic;
      background-color: #778812;
    }
  }
}
