.main-post-content {
  display: grid;
  grid-template-columns: 1fr 100px;
}
.page-content {

}
.right-sidebar {
  display: flex;
  flex-flow: column nowrap;
  // border: 1px solid #323421;
  li {
    cursor: pointer;
    padding: 10px;
    line-height: 35px;
    border-bottom: 1px solid #445621;
    margin-right: 20px;
    min-width: 150px;
    display: flex;
    align-items: stretch;
    a {
      width: 100%;
      color: rgb(36,28,21);
    }
    a:hover {
      color: #455561;
      font-style: italic;
      background-color: #778812;
    }
  }
}
